body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 30px;
}

#person-image {
    width: 200px;
    height: 200px;
}

#progressBar {
    width: 300px;
    background-color: lightgray;
    color: black;
    padding: 5px;
    border: 1px solid black;
    margin: 10px auto;
}

#progressFill {
    background-color: black;
    color: white;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

button {
    margin-top: 10px;
}

